<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="/css/css/styles.css"/>
  <title>Posada Choroni</title>
</head>
<body>

  <div id="loader" class="loader"></div>

  <nav>
    <div class="nav__bar">
      <div class="nav__header">
        <div class="logo nav__logo">
          <div>CH</div>
          <span>Posada<br />CHORONI</span>
        </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="#home">Inicio</a></li>
        <li><a href="#about">Sobre Nosotros</a></li>
        <li><a href="#room">Cuartos</a></li>
        <li><a href="#feature">Características</a></li>
        <li><a href="#menu">Menú</a></li>
        <li><a href="#news">Noticias</a></li>
      </ul>
    </div>
  </nav>

  <header class="header" id="home">  
    <div class="section__container header__container">  
      <p class="section__subheader">SOBRE NOSOTROS</p>  
      <h1 id="dynamicText">La mejor<br />experiencia para ti</h1>  
      <button class="btn" onclick="location.href='recorridos.html'">Haz un recorrido</button>
    </div>  
  </header>

  <section class="booking">
    <div class="section__container booking__container">
      <form id="bookingForm" action="/" method="post">
        <div class="input__group">
          <label for="arrival">Fecha de llegada</label>
          <input type="date" id="arrival" name="arrival" placeholder="Tu Fecha de Llegada" required />
        </div>
        <div class="input__group">
          <label for="departure">Fecha de salida</label>
          <input type="date" id="departure" name="departure" placeholder="Tu Fecha de Salida" required />
        </div>
        <div class="input__group">
          <label for="guests">Invitados</label>
          <input type="number" id="guests" name="guests" placeholder="Número de Invitados" min="1" required />
        </div>
        <button type="submit" class="btn" id="checkAvailabilityBtn">Revisar disponibilidad</button>
        <span class="animated-text">¡Reserva YA!</span>
      </form>
    </div>
  </section>  
  
  <section class="about" id="about">
    <div class="section__container about__container">
      <div class="about__grid">
        <div class="about__image">
          <img src="/assets/about-1-choroni.jpg" alt="sobre" />
        </div>
        <div class="about__card">
          <span><i class="ri-community-fill"></i></span>
          <h4>Fuerte Equipo</h4>
          <p>
            Desbloqueando la Excelencia de hospitalidad que tanto caracteristista a la gente de Choroni.
        </div>
        <div class="about__image">
          <img src="/assets/about-2-choroni.jpg" alt="sobre" />
        </div>
        <div class="about__card">
          <span><i class="ri-calendar-check-line"></i></span>
          <h4>Posadas humildes con escencia clasica siempre disponibles.</h4>
          <p>Experimenta una sensacion vintage en un pueblo que conserva su escencia clasica.</p>
        </div>
      </div>
      <div class="about__content">
        <p class="section__subheader">SOBRE NOSOTROS</p>
        <h2 class="section__header">Descubre nuestro paraiso escondido</h2>
        <p class="section__description">
          Bienevnido al pueblo mas humilde de toda la costa de aragua donde te esperaran miles aventuras,
          activades,comidas y festivales para el consumo de cualquier turista. Con toda nuestra humildad te invitamos
          a que vengas con toda la familia a vivir una experiencia folclorica como todo pueblo venezolano debe ser.
        </p>
        <button class="btn" onclick="location.href='reservas.html'">Reservar Ahora</button>
      </div>
    </div>
  </section>

  <section>
    <div class="section__container about__container">
      <div class="about__content">
        <p class="section__subheader">SOBRE NOSOTROS</p>
        <h2 class="section__header">Realiza y descubre mas sobre nosotros y sobre la cultura que nos representa.</h2>
        <p class="section__description">
          Choroní es conocido por sus playas de arena blanca, aguas cristalinas y exuberante vegetación. Sin embargo, lo que realmente distingue a Choroní es su rica herencia cultural, que se refleja en sus festividades, música y tradiciones. Este pueblo es un testimonio viviente de la diversidad y riqueza cultural de Venezuela.
        </p>
        <button class="btn" onclick="location.href='reservas.html'">Reservar Ahora</button>
      </div>
      <div class="about__grid">
        <div class="about__image">
          <img src="/assets/about-3-choroni.webp" alt="sobre" />
        </div>
        <div class="about__card">
          <span><i class="ri-eye-fill"></i></span>
          <h4>Las mejores vistas.</h4>
          <p>
            Descubre las mejores vistas de toda aragua con las diversos miradores que tenemos en todo el pueblo.
          </p>
        </div>
        <div class="about__image">
          <img src="/assets/about-4-choroni.jpg" alt="sobre" />
        </div>
        <div class="about__card">
          <span><i class="ri-contrast-drop-fill"></i></span>
          <h4>Visita los mejores rios de la zona.</h4>
          <p>No solo descubriras las mejores playas de la zona sino que veras los rios mas relejantes de toda el area.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="room__container" id="room">
    <p class="section__subheader">POSADAS DISPONIBLES</p>
    <h2 class="section__header">Posadas Seleccionadas</h2>
    <div class="room__grid">
      <div class="room__card">
        <img src="/assets/room-1-choroni.jpg" alt="cuarto" />
        <div class="room__card__details">
          <div>
            <h4>Posada turpial</h4>
            <p>tiene una linda entrada que se reconoce por su color amarillo y un agradable jardín.</p>
          </div>
          <h3>$50<span>/semana</span></h3>
        </div>
      </div>
      <div class="room__card">
        <img src="/assets/room-2-choroni.jpg" alt="cuarto" />
        <div class="room__card__details">
          <div>
            <h4>Los Ranchos de Chano</h4>
            <p>Los Ranchos de Chano, posada con 5 exclusivas habitaciones ubicada en Choroni, Estado  Aragua.</p>
          </div>
          <h3>$50<span>/semana</span></h3>
        </div>
      </div>
      <div class="room__card">
        <img src="/assets/room-3-choroni.png" alt="cuarto" />
        <div class="room__card__details">
          <div>
            <h4>Posada de Las García</h4>
            <p>
              Es una Casona colonial de las más lindas y tradicionales de Choroní la cual invita al descanso.
            </p>
          </div>
          <h3>$50<span>/semana</span></h3>
        </div>
      </div>
    </div>
  </section>

  <section class="intro">
    <div class="section__container intro__container">
      <div class="intro__cotent">
        <p class="section__subheader">VIDEO INTRODUCTORIO</p>
        <h2 class="section__header">Conoce un poco de nuestro mundo</h2>
        <p class="section__description">
          Ya sea que busques un refugio acogedor y exclusivo o un viaje
          inmersivo bajo la superficie, la posada de choroni promete una estancia
          inolvidable, donde las profundidades del confort y la emoción
          esperan tu llegada.
        </p>
        <button class="btn" onclick="location.href='reservas.html'">Reservar Ahora</button>
      </div>
      <div class="intro__video">
        <video src="/assets/choronirecorrido.mp4" autoplay muted loop></video>
      </div>
    </div>
  </section>

  <section class="section__container feature__container" id="feature">
    <p class="section__subheader">DATOS IMPORTANTES</p>
    <h2 class="section__header">Características Principales del Pueblo</h2>
    <div class="feature__grid">
      <div class="feature__card">
        <span><i class="ri-thumb-up-line"></i></span>
        <h4>Tienen Alta Calificación</h4>
        <p>
          Nos enorgullece haber seleccionado posadas que consistentemente
          reciben altas calificaciones y opiniones positivas.
        </p>
      </div>
      <div class="feature__card">
        <span><i class="ri-time-line"></i></span>
        <h4>Horas de Silencio</h4>
        <p>
          Entendemos que la paz y el descanso ininterrumpido son esenciales
          para una experiencia rejuvenecedora.
        </p>
      </div>
      <div class="feature__card">
        <span><i class="ri-map-pin-line"></i></span>
        <h4>Mejor Ubicación</h4>
        <p>
          En nuestro sitio de reservas de posadas, nos enorgullece ofrecer
          alojamientos en las ubicaciones más privilegiadas y deseadas.
        </p>
      </div>
      <div class="feature__card">
        <span><i class="ri-close-circle-line"></i></span>
        <h4>Cancelación Gratuita</h4>
        <p>
          Entendemos que los planes de viaje pueden cambiar inesperadamente,
          por eso ofrecemos la flexibilidad de cancelación gratuita.
        </p>
      </div>
      <div class="feature__card">
        <span><i class="ri-wallet-line"></i></span>
        <h4>Opciones de Pago</h4>
        <p>
          Nuestro sitio de reservas de posadas ofrece una variedad de opciones
          de pago convenientes para adaptarse a tus preferencias. Ya sea zelle o 
          transferencia bancaria de bancos venelanos.
        </p>
      </div>
      <div class="feature__card">
        <span><i class="ri-coupon-line"></i></span>
        <h4>Ofertas Especiales</h4>
        <p>
          Ya sea que estés planeando una escapada romántica o un viaje de instropeccion, nuestras
          ofertas especiales cuidadosamente seleccionadas se adaptan a todas tus
          necesidades.
        </p>
      </div>
      <div class="feature__card">
        <span><i class="ri-football-line"></i></span>
        <h4>Diferentes areas deportivas</h4>
        <p>
          Aqui en el pueblo se goza de diferentes canchas para hacer cualquier tipo de deporte,
          ya sea futbol, basket o volleyball, el pueblo tendra disponibilidad para el deporte.
        </p>
      </div>
      <div class="feature__card">
        <span><i class="ri-wifi-fill"></i></span>
        <h4>Con wifi en gran parte del pueblo</h4>
        <p>
          La  mayoria del pueblo contiene señal y mucha de las posadas que seleccionamos tienen su wifi incluido.
        </p>
      </div>
      <div class="feature__card">
        <span><i class="ri-parking-line"></i></span>
        <h4>Estacionamiento gratis</h4>
        <p>
          la mayoria del pueblo tiene lugares para aparcar el coche, en las posada donde te residas, incluira el estacionamiento.
        </p>
      </div>
    </div>
  </section>

  <section class="menu" id="menu">
    <div class="section__container menu__container">
      <div class="menu__header">
        <div>
          <p class="section__subheader">MENÚ</p>
          <h2 class="section__header">Nuestro Menú de Comida folclorica</h2>
        </div>
      </div>
      <ul class="menu__items">
        <li>
          <img src="/assets/menu-1-choroni.webp" alt="menú" />
          <div class="menu__details">
            <h4>Cachapa</h4>
            <p>
              Se trata de una especie de panqueque de maíz tierno, que se sirve con queso de mano, mantequilla y, en ocasiones, jamón.
            </p>
          </div>
        </li>
        <li>
          <img src="/assets/menu-2-choroni.webp" alt="menú" />
          <div class="menu__details">
            <h4>Pargo Rojo a la Choroní</h4>
            <p>
              Es un pescado que abunda en las aguas de Choroní, y su preparación a la Choroní es una delicia local.
            </p>
          </div>
        </li>
        <li>
          <img src="/assets/menu-3-choroni.webp" alt="menú" />
          <div class="menu__details">
            <h4>Arepas de Coco</h4>
            <p>
              Son una variante de las arepas tradicionales venezolanas, pero con un toque especial de harina de coco.
            </p>
          </div>
        </li>
        <li>
          <img src="/assets/menu-4-choroni.webp" alt="menú" />
          <div class="menu__details">
            <h4>Chupe de Cangrejo</h4>
            <p>
              El chupe de cangrejo es un guiso espeso y sabroso que combina cangrejos frescos, plátano, queso, yuca y otros ingredientes locales.
            </p>
          </div>
        </li>
        <li>
          <img src="/assets/menu-5-choroni.avif" alt="menú" />
          <div class="menu__details">
            <h4>Camarones al ajillo</h4>
            <p>
              Los camarones al ajillo son un plato delicioso y sencillo, muy popular en las regiones costeras.
            </p>
          </div>
        </li>
        <li>
          <img src="/assets/menu-6-choroni.webp" alt="menú" />
          <div class="menu__details">
            <h4>Empanadas</h4>
            <p>
              Los rellenos varían ampliamente e incluyen carnes, quesos, mariscos, vegetales y hasta frutas.
            </p>
          </div> 
        </li>
      </ul>
      <div class="slider">
        <div class="menu__images">
          <img src="/assets/menu-7.jpg" alt="menú" />
          <img src="/assets/menu-8.jpg" alt="menú" />
          <img src="/assets/menu-9.jpg" alt="menú" />
          <img src="/assets/menu-7.jpg" alt="menú" />
          <img src="/assets/menu-8.jpg" alt="menú" />
          <img src="/assets/menu-9.jpg" alt="menú" />
        </div>
      </div>      
      <ul class="menu__banner">
        <li>
          <span><i class="ri-file-text-line"></i></span>
          <h4>02k</h4>
          <p>Proyectos Completados</p>
        </li>
        <li>
          <span><i class="ri-user-line"></i></span>
          <h4>1M</h4>
          <p>Record en turismo!</p>
        </li>
        <li>
          <span><i class="ri-function-line"></i></span>
          <h4>07k</h4>
          <p>Categorías Servidas</p>
        </li>
        <li>
          <span><i class="ri-lightbulb-flash-line"></i></span>
          <h4>10M</h4>
          <p>Ideas Recaudadas</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="section__container news__container" id="news">
    <div class="news__header">
      <div>
        <p class="section__subheader">BLOG</p>
        <h2 class="section__header">Noticias</h2>
      </div>
    </div>
    <div class="news__grid" id="newsGrid">
      <div class="news__card">
        <img class="img-noticias" src="/assets/news-1-choroni.webp" alt="noticias" />
        <div class="news__card__title">
          <p>25 de marzo de 2022</p>
          <p>Por Cesar</p>
        </div>
        <h4>Explorando Joyas Culinarias Locales del hermoso pueblo de choroni: Una Guía para los Amantes de la Comida.</h4>
        <p>Únete a Cesar mientras te lleva en una aventura gastronómica a través del vecindario que rodea nuestro pueblo y posada.</p>
      </div>
      <div class="news__card">
        <img class="img-noticias" src="/assets/news-2-choroni.jpg" alt="noticias" />
        <div class="news__card__title">
          <p>15 de octubre de 2022</p>
          <p>Por Zara</p>
        </div>
        <h4>Nueva escuela de surf para los turistas en uricao.</h4>
        <p>Descubre las maravillas que puede ofrecer las costas venezolanas en actividades grupales en esta nueva escuela abierta para todo el mundo.</p>
      </div>
      <div class="news__card">
        <img class="img-noticias" src="/assets/news-3-choroni (2).jpg" alt="noticias" />
        <div class="news__card__title">
          <p>30 de octubre de 2022</p>
          <p>Por Edgar</p>
        </div>
        <h4>Nuevas celebraciones de tambores invaden el pueblo.</h4>
        <p>Por estas epocas se reunen los mejores tamborcistas del pueblo para celebrar el inicio del ultimo semestre del año.</p>
      </div>
      <div class="news__card">
        <img class="img-noticias" src="/assets/news-4-choroni.jpg" alt="noticias" />
        <div class="news__card__title">
          <p>14 de febrero de 2023</p>
          <p>Por Jesus</p>
        </div>
        <h4>Ya se se esta preparando todo para la celebracion de san juan bautista.</h4>
        <p>En el pueblo siempre se respeta estrictamente las celebraciones a los santos a los que el pueblo siempre ha creido y este año no es la excepcion, unete a ver los preparativos.</p>
      </div>
      <div class="news__card">
        <img class="img-noticias" src="/assets/news-5-choroni.jpg" alt="noticias" />
        <div class="news__card__title">
          <p>27 de julio de 2023</p>
          <p>Por Mauricio</p>
        </div>
        <h4>Se hacen obras para mejorar el senderismo.</h4>
        <p>El ayuntamiento del pueblo hace una nueva pista de senderismo para poder ir caminando del pueblo de choroni al pueblo de chuao y asi fomentar el turismo para los amantes de la naturaleza.</p>
      </div>
      <div class="news__card"> 
        <img class="img-noticias" src="/assets/news-6-choroni.webp" alt="noticias" />
        <div class="news__card__title">
          <p>24 de diciembre de 2023</p>
          <p>Por Edgar</p>
        </div>
        <h4>Reparado el principal autobus del pueblo.</h4>
        <p>El autobus principal de choroni goza de un nuevo mantenimiento para asi traer a todo el turismo directo de Maracay</p>
      </div>
    </div>
  </section>
  
  <footer class="footer">
    <div class="section__container footer__container">
      <div class="footer__col">
        <div class="logo footer__logo">
          <div>CH</div>
          <span>POSADA<br />CHORONI</span>
        </div>
        <p class="section__description">
          Unete a este hermoso paraiso escondido en la gran Venezuela,
          donde te esperara miles de aventuras, personas agradables,
          y un nivel relajacion del mayor nivel. Todo con nuestra caracteristica
          humildad te estaremos esperando.
        </p>
        <ul class="footer__socials">
          <li>
            <a href="https://www.youtube.com/"><i class="ri-youtube-fill"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2F&hl=es-es&aa_click=8891933284028179"><i class="ri-instagram-line"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/"><i class="ri-facebook-fill"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/"><i class="ri-linkedin-fill"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>Servicios</h4>
        <div class="footer__links">
          <li><a href="principal/reservas.html">Reservas en Línea</a></li>
          <li><a href="principal/excursiones.html">Excursiones locales</a></li>
          <li><a href="principal/recorridos.html">Recorridos Virtuales</a></li>
          <li><a href="principal/clases.html">Clases y talleres</a></li>
          <li><a href="principal/soporte.html">Soporte al Cliente</a></li>
          <li><a href="/login/index.html" onclick="logout()">Cerrar Sesion</a></li>
        </div>
      </div>
      <div class="footer__col">
        <h4>Contáctanos</h4>
        <div class="footer__links">
          <li>
            <span><i class="ri-phone-fill"></i></span>
            <div>
              <h5>Número de Teléfono</h5>
              <p>+91 9876543210</p>
            </div>
          </li>
          <li>
            <span><i class="ri-record-mail-line"></i></span>
            <div>
              <h5>Correo Electrónico</h5>
              <p>info@posadachoroni.com</p>
            </div>
          </li>
          <li>
            <span><i class="ri-map-pin-2-fill"></i></span>
            <div>
              <h5>Ubicación</h5>
              <p>Puerto Colombia, Choroni estado ARAGUA</p>
            </div>
          </li>
        </div>
      </div>
    </div>
    <div class="footer__bar">
      Copyright © 2024 Posada Choroni. Todos los derechos reservados.
    </div>
  </footer>

  <script>
  document.getElementById('checkAvailabilityBtn').addEventListener('click', function(event) {
    event.preventDefault(); // Evita que el formulario se envíe

    // Captura los datos del formulario
    const arrival = document.getElementById('arrival').value;
    const departure = document.getElementById('departure').value;
    const guests = document.getElementById('guests').value;

    // Almacena los datos en localStorage
    localStorage.setItem('arrival', arrival);
    localStorage.setItem('departure', departure);
    localStorage.setItem('guests', guests);

    // Redirige a linea.html
    window.location.href = 'linea.html';
  });
  </script>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="/js/main.js"></script>
</body>
</html>
